apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis-standalone
  namespace: soft-dev
spec:
  serviceName: "redis-svc"
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: registry.cn-beijing.aliyuncs.com/alphesh-soft/redis:7.0.1
          imagePullPolicy: IfNotPresent
          # 先根据变量写入acl，启动时加载acl
          command:
            - sh
            - -c
            - |
              echo "user $REDIS_USER on >$REDIS_PASSWORD ~* +@all" > /tmp/users.acl && \
              echo "user default off" >> /tmp/users.acl && \
              redis-server /conf/redis.conf --aclfile /tmp/users.acl
          # acl由secret控制
          env:
            - name: REDIS_USER
              valueFrom:
                secretKeyRef:
                  name: redis-secret
                  key: username
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: redis-secret
                  key: password
          ports:
            - containerPort: 6379
              name: redis
          volumeMounts:
            - name: data
              mountPath: /data
            - name: config
              mountPath: /conf
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
          livenessProbe:
            exec:
              command:
                - sh
                - -c
                - "redis-cli --user $REDIS_USER -a $REDIS_PASSWORD ping"
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - "redis-cli --user $REDIS_USER -a $REDIS_PASSWORD ping"
            initialDelaySeconds: 5
            periodSeconds: 10
      volumes:
        - name: config
          configMap:
            name: redis-config
      imagePullSecrets:
        - name: aliyun-registry
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: "nfs-storage"
        resources:
          requests:
            storage: 1Gi