apiVersion: v1
kind: Service
metadata:
  labels:
    app: redis7
  name: redis7
  namespace: soft
spec:
  ports:
    - name: http-6379
      port: 6379
      protocol: TCP
      targetPort: 6379
  selector:
    app: redis7
  sessionAffinity: None
  type: NodePort